@import 'variables';
@import 'mixins';

.about {
  @include base_section;

  &__header {
    @include base_section_header;
  }

  &__metadata {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    color: $color-secondary;
    line-height: 1.5rem;
    font-size: large;
    font-family: DMMono-Italic;
    letter-spacing: 1.5px;

    a {
      color: $color-primary;
      text-decoration: underline;
    }
    p {
      padding: 0 0 10px;
    }

    .skills-list {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      padding: 0px;
      margin: 20px 0px 0px;
      overflow: hidden;
      list-style: none;
      font-size: smaller;
      line-height: normal;

      li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;

        &::before {
          content: '▹';
          position: absolute;
          left: 0px;
          color: $color-primary;
          font-size: small;
          line-height: 12px;
        }
      }
    }
  }
}
