@import 'variables';

.about {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0;

  &__header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    white-space: nowrap;

    &::before {
      position: relative;
      counter-increment: section 1;
      content: '0' counter(section) '.';
      margin-right: 10px;
      color: $color-primary;
      font-weight: 400;
    }

    &::after {
      content: '';
      display: block;
      position: relative;
      width: 300px;
      height: 1px;
      margin-left: 20px;
      background-color: $color-secondary;
    }
  }

  &__metadata {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    color: $color-secondary;
    line-height: 1.5rem;
    font-size: large;
    letter-spacing: 1.5px;

    a {
      color: $color-primary;
      text-decoration: underline;
    }
    p {
      padding: 0 0 10px;
    }

    .skills-list {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      padding: 0px;
      margin: 20px 0px 0px;
      overflow: hidden;
      list-style: none;
      font-size: smaller;
      line-height: normal;

      li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;

        &::before {
          content: '▹';
          position: absolute;
          left: 0px;
          color: $color-primary;
          font-size: small;
          line-height: 12px;
        }
      }
    }
  }
}
