@import 'variables';

.socialHandlers {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: $color-main;

  @media (max-width: 883px) {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;

    .link {
      margin: 5px auto;
      padding: 5px;
      font-size: x-large;

      &:last-child::after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: $color-main;
      }
    }
  }
}
