.wrapper {
  // margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 150px 150px;

  @media (max-width: 883px) {
    padding: 150px 60px;
  }

  @media (max-width: 768px) {
    padding: 150px 80px;
  }
  @media (max-width: 608px) {
    padding: 100px 40px;
  }
  @media (max-width: 450px) {
    padding: 100px 20px;
  }
}
