.about {
  background: #0a0909;
  color: #f1e8e8;
  min-height: 100vh;
  padding: 2rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: neuemachina-ultrabold;
  width: 100%;
  overflow-x: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.about__content {
  width: 528px;
  float: left;
  margin-left: 18.75%;
  margin-bottom: 140px;
}

.about__tileMusk {
  font-family: neuemachina-ultrabold;
  font-size: 54px;
  line-height: 80px;
  color: #ffffff;
  display: block;
  clear: both;
  border-bottom: 1px solid #fff;
  width: fit-content;
}

.about__me {
  position: relative;
  margin-top: 219px;
  width: 37.56%;
  max-width: 397px;
  float: left;
  margin-left: 42px;
}

.about__techs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 5rem;
}

.about__techImg {
  width: 50px;
  object-fit: contain;
}

.about__techItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  flex: 1;
}

.about__techItem > h4 {
  opacity: 0;
  pointer-events: none;
  margin-top: 10px;
  border: 1px solid lightblue;
  padding: 5px 10px;
  font-weight: 400;
  user-select: none;
}

.about__techItem:hover > h4 {
  opacity: 1;
  animation: scaleUp 0.1s ease-out;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 855px) {
  .about__techs {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__techImg {
    margin: 0.5rem;
    flex: 0.1;
  }
}

@media (max-width: 700px) {
  .about__techItem {
    margin: 10px;
  }
}

@media (max-width: 650px) {
  .about__content {
    width: 100%;
    margin-left: 12px;
    margin-bottom: -10px;
    margin-top: 50px;
  }
  .about__me {
    margin: 55px 50px;
  }
}

@media (max-width: 350px) {
  .about__techItem {
    margin: auto;
  }
  .about__techs {
    padding: 0 2px;
  }

  .about__tileMusk {
    font-size: 2rem;
  }
}
