---
// Home
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	/>
</Layout>
<section class="grid grid-cols-1 md:grid-cols-2 gap-5">
	<article class="py-5 relative">
		<img
			class="min-h-[400px] h-[200px] sm:h-min min-w-full rounded-2xl object-cover shadow-2xl"
			src="/images/avatar.png"
			alt="avatar"
		/>
	</article>

	<article class="rounded-2xl p-8 flex flex-col bg-purple-300">
		<h1 class="text-3xl font-semibold tracking-wide">Hey, I&apos;m Bineet</h1>

		<p class="py-5 italic text-md">
			a fullstack Javascript developer and GraphQl enthusiast, With 3+ years of
			experience. I mostly build things for the web.
		</p>

		<a
			href="mailto:bineetnaiduapps@gmail.com"
			class="bg-gray-800 text-white py-3 rounded-2xl text-center cursor-pointer hover:bg-gray-900 active:scale-95 transition-all"
		>
			Contact me</a
		>

		<div class="flex justify-evenly pt-5">
			<a
				href="https://www.linkedin.com/in/bineet-naidu-9b1b3b1b3/"
				class="bg-blue-500 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-blue-600 active:scale-95 transition-all"
			>
				<i class="fa fa-linkedin"></i>
			</a>

			<a
				href="https://twitter.com/bineet_naidu"
				class="bg-blue-400 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-blue-500 active:scale-95 transition-all"
			>
				<i class="fa fa-twitter"></i>
			</a>

			<a
				href="https://www.instagram.com/bineet_naidu"
				class="bg-pink-500 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-pink-600 active:scale-95 transition-all"
			>
				<i class="fa fa-instagram"></i>
			</a>

			<a
				href="https://bineetnaidu.hashnode.dev/"
				class="bg-gray-800 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-gray-900 active:scale-95 transition-all"
			>
				<i class="fa fa-google"></i>
			</a>
		</div>
	</article>

	<ProjectCard
		name="UI Colors App"
		description="UI color generator and picker"
		link="https://ui-colors-app.netlify.app/"
		imgSrc="/images/ui-colors.png"
	/>
	<ProjectCard
		name="Storiess"
		description="A social app for sharing stories and memories"
		link="https://storiess.netlify.app/"
		imgSrc="/images/storiess.png"
	/>

	<ProjectCard
		name="YelpCamp"
		description="A Yelp clone for campgrounds"
		link="https://vast-tiara-slug.cyclic.app/"
		imgSrc="/images/yelpcamp.png"
	/>
	<ProjectCard
		name="Covid-19 Tracker"
		description="Covid-19 Tracker App"
		link="https://bineet-covid19-tracker.netlify.app/"
		imgSrc="/images/covid19tracker.png"
	/>

	<ProjectCard
		name="Netflix Clone"
		description="A clone build of Netflix"
		link="https://bineet-netflix-clone.netlify.app/"
		imgSrc="/images/netflixClone.png"
	/>

	<article class="rounded-2xl p-8 flex flex-col bg-purple-300">
		<h1 class="text-3xl font-semibold tracking-wide">Want to work together?</h1>

		<p class="py-5 italic text-md">
			Feel free to reach out for any project or collaboration. Or just say a
			friendly hello.
		</p>

		<a
			href="mailto:bineetnaiduapps@gmail.com"
			class="bg-gray-800 text-white py-3 rounded-2xl text-center cursor-pointer hover:bg-gray-900 active:scale-95 transition-all"
		>
			Contact me</a
		>

		<div class="flex justify-evenly pt-5">
			<a
				href="https://www.linkedin.com/in/bineet-naidu-9b1b3b1b3/"
				class="bg-blue-500 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-blue-600 active:scale-95 transition-all"
			>
				<i class="fa fa-linkedin"></i>
			</a>

			<a
				href="https://twitter.com/bineet_naidu"
				class="bg-blue-400 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-blue-500 active:scale-95 transition-all"
			>
				<i class="fa fa-twitter"></i>
			</a>

			<a
				href="https://www.instagram.com/bineet_naidu"
				class="bg-pink-500 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-pink-600 active:scale-95 transition-all"
			>
				<i class="fa fa-instagram"></i>
			</a>

			<a
				href="https://bineetnaidu.hashnode.dev/"
				class="bg-gray-800 text-white py-3 px-4 rounded-full text-center cursor-pointer hover:bg-gray-900 active:scale-95 transition-all"
			>
				<i class="fa fa-google"></i>
			</a>
		</div>
	</article>
</section>
