---
// HEADER FILE
---

<style></style>

<nav class="flex items-center justify-between px-2">
  <a href="/" class="font-semibold text-2xl"> Bineet</a>

  <div class="space-x-5 text-md font-normal tracking-normal text-gray-600">
    <a href="/blogs" class="cursor-pointer hover:underline">Blogs</a>
    <a href="#projects" class="cursor-pointer hover:underline">Projects</a>
    <a href="#contact" class="cursor-pointer hover:underline">Contact</a>
  </div>
</nav>
