.header {
  padding: 2rem 3rem;
  width: 100%;
  position: fixed;
  z-index: 100000;
  animation: switchLeft 0.5s forwards 0.3ms
    cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header > a,
.header--workLink,
.header--brand {
  text-decoration: none;
  color: white !important;
  position: relative;
}

.header--workLink {
  padding-left: 4rem;
}

.header--workLink::after {
  content: '';
  width: 46px;
  height: 1px;
  border: none;
  border-top: 1px solid #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  display: block;
  box-sizing: content-box;
}

@keyframes switchLeft {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(70vw);
  }
}
