.navigationBar {
  width: 265px;
  border: 0.2px solid #f1e8e8;
  height: 71px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  color: rgba(241, 232, 232, 0.6);
  text-decoration: none;
}

.navigationBar:hover {
  animation: rotateLink 0.5s forwards ease-out;
  background-color: #4a4646;
}

@keyframes rotateLink {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}
