.project {
  display: flex;
  height: 100vh;
  padding: 5rem 0;
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
}

.project__media {
  position: relative;
  flex: 0.7;
}

.project__media > img {
  width: 100%;
  height: 100%;
  /* max-width: 1000px; */
  justify-content: center;
  align-items: center;
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.project__name--backdrop {
  position: absolute;
  left: 0%;
  top: -20%;
  right: auto;
  bottom: auto;
  z-index: 1;
  display: block;
  width: 95vw;
  -webkit-perspective: 1100px;
  perspective: 1100px;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  opacity: 0.8;
}

.project__name {
  font-size: 8vw;
  line-height: 1.2em;
  font-weight: 900;
  -webkit-text-stroke: 2px #fff;
  text-transform: uppercase;
  color: transparent;
}

.project__metaData {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0.1;
}

.project__details {
  transform: rotate(90deg);
  opacity: 0.6;
  color: #fff;
  font-size: 10px;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  width: max-content;
  text-transform: uppercase;
}
.project__link {
  position: relative;
  z-index: 5;
  display: flex;
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #12e09b;
  opacity: 0.9;
  cursor: pointer;
}

.project__link > a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.project__idx {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  line-height: 1em;
  font-weight: 900;
  -webkit-text-stroke: 2px #fff;
  text-transform: uppercase;
  color: transparent;
  opacity: 0.1;
}

.project__idx > h1 {
  transform: rotate(90deg);
}

@media screen and (max-width: 700px) {
  .project {
    flex-direction: column;
  }

  .project__idx > h1,
  .project__details {
    transform: rotate(0deg);
  }

  .project__name {
    padding-left: 1rem;
  }

  .project__media {
    flex: 0.6;
  }
  .project__idx {
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }

  .project__metaData {
    flex-direction: row;
    padding: 0 5rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
