#contact-me {
    ul {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 60%;
    }
    ul li {
        list-style: none;
    }
    ul li a {
        display: block;
        position: relative;
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 40px;
        text-align: center;
        text-decoration: none;
        color: #9e9393;
        margin: 0 30px;
        transition: 0.5s;
    }
    ul li a span {
        position: absolute;
        transition: transform 0.5s;
    }
    ul li a span:nth-child(1),
    ul li a span:nth-child(3) {
        width: 100%;
        height: 3px;
        background: #404040;
    }
    ul li a span:nth-child(1) {
        top: 0;
        left: 0;
        transform-origin: right;
    }
    ul li a:hover span:nth-child(1) {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s;
    }

    ul li a span:nth-child(3) {
        bottom: 0;
        left: 0;
        transform-origin: left;
    }
    ul li a:hover span:nth-child(3) {
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
    }

    ul li a span:nth-child(2),
    ul li a span:nth-child(4) {
        width: 3px;
        height: 100%;
        background: #404040;
    }
    ul li a span:nth-child(2) {
        top: 0;
        left: 0;
        transform: scale(0);
        transform-origin: bottom;
    }
    ul li a:hover span:nth-child(2) {
        transform: scale(1);
        transform-origin: top;
        transition: transform 0.5s;
    }
    ul li a span:nth-child(4) {
        top: 0;
        right: 0;
        transform: scale(0);
        transform-origin: top;
    }
    ul li a:hover span:nth-child(4) {
        transform: scale(1);
        transform-origin: bottom;
        transition: transform 0.5s;
    }

    .facebook:hover {
        color: #3b5998;
    }
    .facebook:hover span {
        background: #3b5998;
    }
    .twitter:hover {
        color: #1da1f2;
    }
    .twitter:hover span {
        background: #1da1f2;
    }
    .instagram:hover {
        color: #c32aa3;
    }
    .instagram:hover span {
        background: #c32aa3;
    }
    .google:hover {
        color: #dd4b39;
    }
    .google:hover span {
        background: #dd4b39;
    }
    ul li a .twitter {
        color: #1da1f2;
    }
    ul li a:hover:nth-child(3) {
        color: #c32aa3;
    }
    ul li a:hover:nth-child(4) {
        color: #dd4b39;
    }
}
