#menuCheckbox {
    display: none;
    z-index: 6;
}
label {
    position: absolute;
    top: 43%;
    left: -22px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 6;
    transition: 0.6s ease transform;
}
label div {
    width: 15px;
    height: 7px;
    background-color: #d9dde4;
    margin-bottom: 6px;
    margin-left: 0;
    z-index: 6;
    border-radius: 6px;
    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
        0.3s ease background-color;
}
label div:first-child {
    width: 35px;
}
label div:nth-child(2) {
    width: 25px;
}
label div:last-child {
    width: 15px;
}
#menuCheckbox:checked + label {
    transform: translateY(-50%) rotateZ(-90deg);
}

#menuCheckbox:checked + label div {
    width: 12px;
    margin-left: 12px;
    margin-bottom: 3px;
}
#menuCheckbox:checked + label div:first-child {
    background-color: #ff3031;
}
#menuCheckbox:checked + label div:nth-child(2) {
    background-color: #4834df;
}
#menuCheckbox:checked + label div:nth-child(3) {
    background-color: #45ce30;
}
