.project__links {
    opacity: 0;
    animation: all 0.5s ease-in;
}

.yelpcamp:hover .project__links,
.socialite:hover .project__links,
.zoomClone:hover .project__links,
.travelZilla:hover .project__links {
    opacity: 1;
}

.yelpcamp:hover h1::after,
.socialite:hover h1::after,
.zoomClone:hover h1::after,
.travelZilla:hover h1::after {
    content: ">";
    padding-left: 3.5px;
    color: #fbd38d;
}

.yelpcamp:hover h1::before,
.socialite:hover h1::before,
.zoomClone:hover h1::before,
.travelZilla:hover h1::before {
    content: "</";
    padding-right: 3.5px;
    color: #fbd38d;
}

.yelpcamp-img {
    background-image: url("https://images.unsplash.com/photo-1531012278403-e5db3b774373?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    object-position: center;
    width: 100%;
}
.socialite-img {
    background-image: url("https://images.unsplash.com/photo-1531012278403-e5db3b774373?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    object-position: center;
    width: 100%;
}
.zoomClone-img {
    background-image: url("https://images.unsplash.com/photo-1531012278403-e5db3b774373?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    object-position: center;
    width: 100%;
}
.travelZilla-img {
    background-image: url("https://images.unsplash.com/photo-1531012278403-e5db3b774373?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    object-position: center;
    width: 100%;
}
