@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
$mainFont: "Montserrat", sans-serif;
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: white;
    background-color: #070219;
    font-family: $mainFont;
    position: relative;
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#mainPage {
    height: 86vh;
}

#horizontalLine {
    transform-origin: center;
    transform: rotate(-270deg) translateY(50%);
    left: 49%;
    bottom: 25px;
    display: flex;
    align-items: center;

    &::before {
        content: "view projects";
        font-style: italic;
        position: absolute;
        right: 54px;
        display: flex;
        width: max-content;
        transform: rotate(180deg);
        cursor: pointer;
    }
}

@import "hamburger";
@import "contact-me";
@import "projects";
/* SIDEMENU  */
#hamburger-sidemenu {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    // background-color: rgb(0, 2, 8 / 52%);
    background-color: rgba(1, 11, 29, 0.92);
    transform: translateX(100%);
}
.translate {
    animation: slideAnime 0.5s ease-in forwards !important;
}
.translateBack {
    animation: slideAnimeBack 0.5s ease-in;
}

.contactMELINKS {
    transform: translate(-50%, -50%) !important;
    animation: all 0.5s ease-in !important;
}

// @keyframes showHide {
//     0% {
//         transform: translate(100%, -50%) !important;
//         top: 50% !important;
//         right: 0 !important;
//     }

//     // 50% {
//     //     transform: translate(0%, -50%) !important;
//     //     top: 50% !important;
//     //     right: 0 !important;
//     // }
//     100% {
//         transform: translate(-50%, -50%) !important;
//         top: 50% !important;
//         right: 0 !important;
//     }
// }

@keyframes slideAnime {
    0% {
        transform: translateX(100%);
    }
    20% {
        transform: translateX(80%);
    }
    40% {
        transform: translateX(60%);
    }
    60% {
        transform: translateX(40%);
    }
    80% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideAnimeBack {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(20%);
    }
    40% {
        transform: translateX(40%);
    }
    60% {
        transform: translateX(60%);
    }
    80% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(100%);
    }
}
