.aboutMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  min-height: 60vh;
}
.aboutMe__img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid #1d1520;
}

.aboutMe__left,
.aboutMe__right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex: 1;
}

.aboutMe__prefs {
  font-size: larger;
  margin: 0 2vw;
}

.theme {
  display: flex;
  justify-content: space-evenly;
}

.aboutMe__prefs .theme .theme__white,
.aboutMe__prefs .theme .theme__dark,
.aboutMe__prefs .theme .theme__purple,
.aboutMe__prefs .theme .theme__green {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid #fff;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.aboutMe__prefs .theme .theme__dark {
  background: #000;
}

.aboutMe__prefs .theme .theme__white {
  background: #fff;
  border: 2px solid #000 !important;
}

.aboutMe__prefs .theme .theme__purple {
  background: rgb(65, 7, 52);
}

.aboutMe__prefs .theme .theme__green {
  background: rgb(2, 34, 7);
}

.aboutMe__left h6 {
  text-transform: uppercase;
  margin: 15px 0;
  text-align: center;
}

.preview__shadow {
  /* background-color: #2b202f; */
  max-width: 300px;
  height: 205px;
  padding-left: 30px;
  padding-top: 30px;
}

.preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: rgba(29, 21, 32, 0.8);
  padding: 15px;
  position: relative;
}

.preview > h3 {
  margin-bottom: 0.8em;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

.corner__tl {
  top: -5px;
  left: -5px;
}
.corner__tr {
  top: -5px;
  right: -5px;
}
.corner__br {
  bottom: -5px;
  right: -5px;
}
.corner__bl {
  bottom: -5px;
  left: -5px;
}

@media (max-width: 655px) {
  .aboutMe {
    flex-direction: column;
  }
  .aboutMe__right {
    margin-top: 5vh;
  }
}
